h1, h2, h3, h4, h5, h6, p, body {
  margin: 0;
  padding: 0;
}



body {
  background-color: #1D1D1D;
}

h1 {
  font-family: 'Helvetica';
  color: white;
  font-size: 96px;
}

h2 {
  font-family: 'Helvetica';
  color: white;
  font-size: 96px;
}

p {
  color: rgba(255, 255, 255, 0.747);
  font-family: 'Inter';
  font-size: 24px;
}

.right{
  text-align: end;
  text-align: right;
}

.main {
  margin-top: 160px;
  padding-top: 40px;
  background-repeat: no-repeat;
  height: 950px;
}

.inline {
  display: inline-block;
}

.history {
  color: greenyellow;
  font-family: 'Helvetica';
  font-size: 48px;
}

.center {
  text-align: center;
}

@font-face {
  font-family: 'Furore';
  src: url(../src/fonts/FURORE.OTF);
}

@font-face {
  font-family: 'Helvetica';
  src: url(../src/fonts/HELVETICA_REGULAR.OTF);
}

@font-face {
  font-family: 'Inter';
  src: url(../src/fonts/Inter-Regular.ttf);
}

@media(max-width: 865px) {
  h1, h2 {
    font-size: 64px;
  }
  .history {
    font-size: 32px;
  }
}

@media(max-width: 700px) {
  h1, h2 {
    font-size: 48px;
  }
  .history {
    font-size: 24px;
  }
}

@media(max-width: 500px) {
  h1,h2 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
}